dashboard/.next
dashboard/node_modules
dashboard/package-lock.json
dashboard/.env.local
dashboard/.env.development.local
dashboard/.env.test.local
dashboard/.env.production.local
dashboard/.env
dashboard/.eslintcache
dashboard/.cache
dashboard/coverage
dashboard/.DS_Store
dashboard/.vscode
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
/node_modules
/.cache
/.next
/.eslintcache